<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="" th:href="@{colorscheme.css}"/>
    <meta charset="UTF-8"/>
    <title>Opdater et produkt</title>
</head>
<body>
<div th:replace="fragments/menubar::menubar"/>
<div class="container">
    <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6">
            <h2>Opdater et produkt</h2>
            <form th:action="@{/productEdit}" method="post" th:object="${product}">
                <input type="hidden" th:field="*{id}"/>
                <!--<div class="form-group">
                    <input type="text" th:field="*{id}" th:text="${id}" readonly="readonly" />
                </div>-->
                <div class="form-group">
                    <input type="text" class="form-control" th:field="*{name}"/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" th:field="*{price}"/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" th:field="*{productImagePath}"/>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-success" value="Opdater Produkt"/>
                </div>
            </form>
        </div>
    </div>
</div>


</body>
</html>