<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="" th:href="@{stylesheet.css}"/>
    <link rel="stylesheet" href="" th:href="@{colorscheme.css}"/>
    <title>Edit Activity</title>
</head>
<body>
<div th:replace="fragments/menubar::menubar"/>
<div class="container">
    <h1 th:text="${activity.getName()}"></h1>

    <form th:action="@{editActivity}" th:method="post" th:object="${activity}">

        <div class="form-inline form-group">

            <h7 class="edit-act-label text form-control" for="n"
                style="background: #00045d; font-size: 17px; width: 7ch;">Navn:
            </h7>

            <input type="text" required="required" class="form-control" id="n" th:field="*{name}"/>
        </div>
        <div class="box-model">
            <h3 class="text-in-borderline">Krav</h3>
            <div class="form-group form-inline" style="text-align: left">
                <select class="form-control dropdown" th:field="${newReq.reqName}">
                    <option th:each="requirement : ${requirements}" th:text="${requirement.reqName}"
                            th:value="${requirement.reqName}"></option>
                </select>
                <input type="submit" class="btn btn-success" name="action" value="Tilføj krav"/>
            </div>
            <div th:each="req, stat : *{reqList}">

                <div class="form-inline form-group">
                    <h7 readonly="readonly" th:text="${req.reqName} + ':'" class="edit-act-label text min-width" for="reqValue"></h7>
                    <input type="hidden" th:value="${req.reqName}" th:field="*{reqList[__${stat.index}__].reqName}"/>

                    <input required="required" type="text" class="form-control" id="reqValue" th:value="${req.value}" th:field="*{reqList[__${stat.index}__].value}"/>
                </div>
            </div>
        </div>
        <div class="form-inline form-group">
            <h7 class="edit-act-label text min-width" for="equip">Udstyr:</h7>
            <input required="required" type="text" class="form-control" id="equip" th:field="*{equipment}" style="width: 31%"/>
        </div>
        <div class="form-group">
            <label for="description">Beskrivelse: </label>
            <textarea maxlength="500" required="required" class="form-control" id="description" th:field="*{description}" style="width: 60%"
                      rows="6"></textarea>
        </div>
        <div class="form-inline form-group col-sm-6">
            <h7 for="imagePath" class="edit-act-label text min-width">Billedsti: </h7>
            <input type="text" required="required" id="imagePath" class="form-control" th:field="*{imagePath}"/>
            <div class="right">
                <input type="submit" class="btn btn-success" name="action" style="margin-left: 287px;" value="Gem Ændringer"/>
            </div>
        </div>
    </form>
</div>
</body>
</html>