<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="" th:href="@{colorscheme.css}"/>
    <title>Adventure Alley</title>
</head>
<body>
<div style="margin-top: 2%" align="center">
<div class="form-group form-inline">
    <img align="center" th:src="@{http://2.bp.blogspot.com/-VbCQPfmfVWs/T7VXgRuxRSI/AAAAAAAARN8/s3aAnp6c3Mw/s1600/SkyScreamer12.jpg}" th:alt="@{http://2.bp.blogspot.com/-VbCQPfmfVWs/T7VXgRuxRSI/AAAAAAAARN8/s3aAnp6c3Mw/s1600/SkyScreamer12.jpg}"/>
</div>
    <a href="/" class="btn btn-success" style="margin-right: 50px; height: 6ch; width: 20ch; line-height: 5ch; font-size: xx-large; font-weight: bolder">Administrering</a>
    <a href="/shoppingSite" class="btn btn-success" style=" height: 6ch; width: 20ch; line-height: 5ch; font-size: xx-large; font-weight: bolder">Salgs side</a>

</div>
</body>
</html>