body{
    margin: 0;
}

main{
    width: 70%;
    margin: 150px auto;
    height: 90%;
    /*border: 1px solid black;*/
}

header{
    width: 100%;
    margin: auto;
    padding: 0;
    position: fixed;
    top: 0;
    background-color: whitesmoke;

}

footer{
    width: 100%;
    margin: auto;
    background-color: whitesmoke;
}