<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <div th:fragment="footer-css">
        <style>

            div.footer1{
                padding: 5px;
                background-color: lawngreen;
            }

            div.footer2{
                width: 70%;
                margin: auto;
            }

            img{
                width: 100px;
                height: 60px;
            }

        </style>
    </div>

</head>

    <div th:fragment="footer">

        <div class="footer1">
        </div>

        <div class="footer2">
            <a href="https://www.foodcare.dk/" target="_blank"><img src="https://www.foodcare.dk/skin/frontend/ultimo/default/images/logo.png"/></a>
        </div>

    </div>
</html>